/* Override some defaults */
html, body {

}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
	font-size: 14px;
}

/* The white background content wrapper */
.content {
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  padding: 20px 0px 0px 0px;
  margin: -20px -20px 20px;
	background-color: #7FE3F4;
}

.page-header a {
	color: #EEE;
}

.page-header small {
	color: #FFF;
}

.topbar .btn {
  border: 0;
}

.container p{
	font-size:  14px;
}

.topbar {
	background-color: #218CEC;
}

.center {
	text-align: center;
}

footer {
	margin-top: 0;
	border: none;
}

.media-grid.single a {
	float: none;
	display: block;
	width: 300px;
	margin: 0 auto 20px auto;
}

h2.spacy {
	margin-top: 30px;
}
